<div class="container">
  <h2 class="text-center">Student Management</h2>
   <h3>Student details</h3>
  <div *ngIf="Istudent">
    <p><strong>ID:</strong> {{ Istudent.Id }}</p>
    <p><strong>Name:</strong> {{ Istudent.Name }}</p>     
    <p><strong>City:</strong> {{ Istudent.Address.City }}</p>
    <p><strong>State:</strong> {{ Istudent.Address.State }}</p>
    <p><strong>Country:</strong> {{ Istudent.Address.Country }}</p>
  </div>

<div><a routerLink="/satandard1">Back to student record</a></div>
</div>