.sidebar-opener {
    cursor: pointer;
}
.sidebar-slider {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #878787;
    transform: translateX(-100%);
    transition: ease-in-out 300ms transform;
    width: 300px;
}
.sidebar-slider.sidebar-slide-in {
    transform: translateX(0%);
    transition: ease-in-out 600ms transform;
}

.sidebar-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: white;
    font-size: 16px;
    padding: 16px;
    height: 100%;
}
.sidebar-content a{color:#fff; text-decoration: none;}